<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @ticket.name %>
</p>

<p>
  <strong>Owner:</strong>
  <%= @ticket.owner %>
</p>

<p>
  <strong>Body:</strong>
  <%= @ticket.body %>
</p>

<%= link_to 'Edit', edit_ticket_path(@ticket) %> |
<%= link_to 'Back', tickets_path %>
